* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div img{
    width: 270px;
}
header {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(114, 111, 111);

}
#btn-menu{
    display: none;
}
header label{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: none;
   
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,.3);
    
}
nav{
    position: relative;
}
nav ul {
    margin-top: 3%;
    font-family: Bookman Old Style;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 1.4rem;
    padding-right: 3rem;
    padding-top: 1.2rem;
}

a {
    text-decoration: none;
    color:rgb(57, 167, 201)
}
body{
    background-color: rgb(224, 202, 160);
}

h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4%;
    text-decoration: underline;
    text-shadow: -7px 0 white;
    padding-bottom: 20px;
}

.primero p{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.7rem;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(224, 127, 16);
    border: 7px black solid;
    margin-bottom: 5%;
    text-align: left;
}

.kageyama1 {
    width: 900px;
    height: 420px;
    float: left;
    border: 3px solid black;
    position: relative;
}
.puntaje1{
    width: 900px;
    height: 420px;
    float:right;
    border: 3px solid black;
    
}

.segundo div{
    font-size: 1.7rem;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 26%;
    padding-bottom: 5px;
}
.oikawa {
    width: 800px;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 10%;
    border: 5px solid black;
    border-style: double
}
.nishi1{
    width: 800px;
    float: left;
    border: 5px solid black;
    margin-top: 3%;
    margin-bottom: 10%;
    border-style: double;
}
.nishi2{
    width: 800px;
    border: 5px solid black;
    border-style: double;
    margin-top: 3%;
    margin-bottom: 8%;
}

.contimg{
justify-content: center;
padding-left: 30%;

}

.imagenes{
    display: inline-block;
    padding-left: 30%;
    list-style-type: none;
    margin-bottom: 2px;
}

.tercero p{
    background-color: rgb(180, 125, 62);
    padding: 30px;
    border: 7px solid blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    text-align: right;

}

.armado{
    border: 7px solid rgb(221, 164, 41) ;
    border-style: groove;
    width: 800px;
    margin-top: 3%;
    margin-left: 5%;
    
}

.bloqueo{
    float: right;
    width: 825px;
    margin-right: 5%;
    margin-top: 3%;
    border: 7px solid rgb(221, 164, 41);
    border-style: groove;
}

.punto{
    border: 7px solid rgb(221, 164, 41) ;
    border-style: groove;
    width: 800px;
    margin-top: 3%;
    margin-left: 5%;

}

.puntaje2{
    float: right;
    width: 825px;
    margin-right: 5%;
    margin-top: 3%;
    border: 7px solid rgb(221, 164, 41);
    border-style: groove;
    height: 400px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

footer img {
    padding-top: 3rem;
    width: 100%;
    height: auto;
    margin-right: 3%;
    width: 4rem;

}

.yt{
    width: 6rem;
    }
    .menu-icon img{
        width: 30px;
        height: 30px;
    border-radius: 2px;
    }
    .menu-icon, #check{
        display: none;
    }

    @media (max-width:480px){
        header label{
            display: block;
         }
         .menu{
            position: absolute;
            background-color: gray;
            width: 70%;
            margin-left: -100%;
            transition: all 0.5s;
         }
         #btn-menu:checked ~ .menu {
            margin: 0;
         }
         .menu ul{
            flex-direction: column;
         }
         .menu li{
            border-top: 1px solid white;
         }
         .menu ul li{
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            margin: 0;
         }
       .primero p{
        text-align: center;
       }
       .kageyama1{
        width: 430px;
        margin-left: 2%;
       }
       .puntaje1{
        width: 430px;
        margin-top: 5%;
        margin-right: 1.5%;
        margin-bottom: 14%;
       }
       .oikawa {
            width: 250px;
         }
        .nishi1{
        width: 250px;
        }
        .nishi2{
        width: 250px;
        }
.tercero p{
    text-align: center;
}
.armado{
    width: 400px;
}
.bloqueo{
width: 400px;
}
.punto{
    width: 400px;
}
.puntaje2{
    width: 400px;
    height: 200px;
}
footer {
    height: 350px;
padding-left: 10%;
}
footer img {
    padding-top: 3rem;
    width: 100%;
    height: auto;
    margin-right: 3%;
    width: 4rem;
margin-left: 1rem;
}
    }

