* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 270px;
}
header {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(114, 111, 111);

}
#btn-menu{
    display: none;
}
header label{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: none;
   
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,.3);
    
}
nav {
    position: relative; 
    } 
    

nav ul {
    margin-top: 3%;
    font-family: Bookman Old Style;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 1.4rem;
    padding-right: 3rem;
    padding-top: 1.2rem;
}


a {
    text-decoration: none;
    color:rgb(57, 167, 201)
} 

body{
    background-color: rgb(224, 202, 160);
margin: 0;

}
.form{
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    font-family: "Montserrat", sans-serif;
    position: relative;

}
h2{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: grey;
    border-bottom: 3px solid black;

}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline:none ;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

input:focus{
    border-bottom: 2px solid lightblue;
}

p:before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat",sans-serif ;
    border: 2px solid gray;
    background: 0;
    color: #000;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10%;
}
button:hover{
    background: gray;
    color: white;
}
.cont{
    position: absolute;
    bottom: -15;
    right: -20px;
    background: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 10px 10px 40px -14px #000;
    margin-top: 30%;

}

span{
    margin: 0 5px 0 23px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

footer img {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    margin-right: 3%;
    width: 4rem;

}

.yt{
    width: 6rem;
    }
    .menu-icon, #check{
        display: none;
    }
    @media (max-width:480px){
        header label{
            display: block;
         }
         .menu{
            position: absolute;
            background-color: gray;
            width: 70%;
            margin-left: -100%;
            transition: all 0.5s;
         }
         #btn-menu:checked ~ .menu {
            margin: 0;
         }
         .menu ul{
            flex-direction: column;
         }
         .menu li{
            border-top: 1px solid white;
         }
         .menu ul li{
            padding: 0.3rem;
            display: flex;
            justify-content: center;
            margin: 0;
         }
        footer img {
            padding-top: 3rem;
            width: 100%;
            height: auto;
            margin-right: 3%;
            width: 4rem;
        margin-left: 2rem;
        }
    }