* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div img{
    width: 270px;
}
header {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    background-color: black;

}
nav {
    position: relative; 
    } 
    
nav{position: sticky;
        top: 0;
        z-index:1; 
        width:100%;
}
nav ul {
    margin-top: 3%;
    font-family: Bookman Old Style;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 1.4rem;
    padding-right: 3rem;
    padding-top: 1.2rem;
}


a {
    text-decoration: none;
    color:rgb(57, 167, 201)
} 